table{
    border: 2px solid black;
	height: 70%;
	width: auto;
	position: relative;
	vertical-align: middle;
}

th {
	border: 2px solid black;
}
.speaker {
	position:relative;left:1150px;top:220px;
	/*right: 0;
	top: 0;*/
	width: 200px;
	height: 200px;
	position: absolute;
}
.img{
	width: 190px;
	height: 190px;

}
.button {
	width: 150px;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #555555;
    color: white;
}

.question{
	position:relative;left:1170px;top:30px;
	width: 150px;
}
.question:hover {
    background-color: #81F79F;
    color: white;

}
.center {
	margin: auto;
    width: 45%;
    height: 199%;
	top: 0%;
	right: 0%;

}
.changeBackground {
	margin: auto;
    width: 60%;
	top: 10%;
	right: 10%;
	background-color: rgb(2, 170, 190)
	
}

.centred {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1{
	size: 100%;
}

ol{
	font-size: xx-large;
}

p{
	font-size: x-large;
}

img {
	max-width: 100%;
	height: auto;
	position: relative;
}

.figures span{
	display: block;
	font-size: x-large;
}

.figures img {
	display: block;
}


td {
	border: 2px solid black;
    padding: 5%;
}

a {
	font-size: 12px;
}

.nav li {	
	float: right;
}

.nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	bottom: 0;
	right: 0;
	position: absolute
}

.nav li a {
	display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button li {
	float: right;
}

.button ul {
	list-style-type: none;
    margin: 0;
    padding: 5%;
    overflow: hidden;
	bottom: 0;
	left: ;
	position: absolute;
}



